@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');
html,
body {
    color: #3A3A3A;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height:100vh;
    &.loading {
        position: relative;
        &:before {
            background: rgba(0, 0, 0, .7);
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }
        &:after {
            background: #000 url('../image/loading.svg') center center no-repeat;
            background-size: 87% auto;
            border: 2px solid #444;
            border-radius: 10px;
            ;
            content: "";
            display: block;
            height: 56px;
            left: 50%;
            position: fixed;
            transform: translateX(-50%);
            top: 50%;
            width: 56px;
            z-index: 10;
        }
    }
    &.open-modal{
        overflow: hidden;
        #modal-window{
            display: block;
        }
    }
}

a {
    color: #3a3a3a;
    text-decoration: none;
    transition: color .15s ease-in;
    &:hover {
        color: #FABF00;
    }
}

p {
    line-height: 1.5em;
}

%__responsive {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
    width: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    @media(max-width: 1200px) {
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
    }
}

.block-social {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
            a {
                align-items: center;
                border: 2px solid #3A3A3A;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                height: 20px;
                padding: 5px;
                text-decoration: none;
                text-transform: uppercase;
                width: 20px;
                &:hover {
                    background: #3A3A3A;
                    color: #FFF;
                }
            }
        }
    }
}

.block-pricelist {
    background-color: transparent;
    background-image: linear-gradient(330deg, #fab702 0%, #ea1b1b 100%);
    box-sizing: border-box;
    padding: 50px 0;
    .container {
        align-items: center;
        color: #FFF;
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        .title {
            font-size: 24px;
            margin-right: 40px;
            text-transform: uppercase;
        }
        a {
            align-items: center;
            border: 2px solid #FFF;
            color: #FFF;
            display: flex;
            padding: 10px 20px;
            transition: all .15s ease-in;
            .fa {
                margin-right: 10px;
            }
            &:hover {
                background: #FFF;
                color: #3A3A3A;
            }
        }
        @media(max-width: 768px) {
            flex-direction: column;
            .title {
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }
}

.block-shop-item {
    align-items: flex-start;
    display: flex;
    .image {
        flex-grow: 0;
        flex-shrink: 0;
        width: 50%;
        img {
            @extend %__responsive;
        }
    }
    @media(max-width: 768px) {
        flex-direction: column;
        >* {
            width: 100%;
        }
    }
}

#section-manufacter {
    .block-shop-item {
        margin: 50px 0;
        .image {
            @media(max-width: 768px) {
                width: 100%;
            }
        }
        .info {
            padding-right: 50px;
            @media(max-width: 768px) {
                margin-bottom: 20px;
                padding-right: 0;
            }
            h3 {
                font-size: 28px;
                font-weight: normal;
                line-height: 1;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }
            .subtitle {
                margin: 10px 0 0;
                text-transform: uppercase;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    align-items: center;
                    display: flex;
                    margin: 10px 0;
                    position: relative;
                    .fa {
                        color: #FAC002;
                        margin-bottom: 0;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.block-container {
    padding: 100px 0;
    @media(max-width: 768px) {
        padding: 50px 0;
    }
    .block-title {
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:after,
        &:before {
            bottom: 0;
            background: #C4C4C4;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 120px;
        }
        &:before {
            bottom: 5px;
            width: 200px;
        }
    }
    h3 {
        &.block-title {
            font-size: 28px;
        }
    }
    h2 {
        &.block-title {
            font-size: 38px;
        }
    }
    .block-table-pricelist {
        margin: 50px 0 0;
        table {
            border-collapse: collapse;
            border-spacing: 0;
            border-left: 1px solid #EEE;
            border-top: 1px solid #EEE;
            width: 100%;
            tr {
                td,
                th {
                    border-bottom: 1px solid #EEE;
                    border-right: 1px solid #EEE;
                    padding: 10px;
                    &.select {
                        background: #F5820B;
                        font-weight: bold;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        &:first-child {
                            text-align: left;
                        }
                    }
                }
            }
            @media(max-width: 578px) {
                display: block;
                thead,
                tbody {
                    display: block;
                    tr {
                        display: flex;
                        flex-wrap: wrap;
                        td,
                        th {
                            box-sizing: border-box;
                            width: 50%;
                            &:first-child {
                                background: #EFEFEF;
                                font-weight: bold;
                                text-align: center;
                                width: 100%;
                            }
                            &[colspan="2"] {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

#section-header {
    padding: 20px 0;
    @media(max-width: 960px) {
        padding-bottom: 0;
    }
    .container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        .logotype {
            margin-right: auto;
            img{
                @extend %__responsive;
            }
        }
        .navigation {
            margin-left: 40px;
            margin-right: 40px;
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin-left: 40px;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
        }
        @media(max-width: 960px) {
            flex-wrap: wrap;
            .navigation {
                background: #EFEFEF;
                margin: 10px -20px 0;
                padding: 20px;
                order: 2;
                width: 100%;
                ul {
                    justify-content: center;
                }
            }
            .logotype {
                margin-right: 0;
                text-align: center;
                width: 100%;
            }
        }
        @media(max-width: 578px) {
            
            .block-social {
                margin: 10px auto;
                width: 100%;
                ul {
                    justify-content: center;
                }
            }
        }
    }
}

#section-jumbotron {
    background: url('../image/background.jpg') center center no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    min-height: 300px;
    padding: 100px 0;
    position: relative;
    @media(max-width: 768px) {
        padding: 50px 0;
    }
    &:before {
        background: rgba(0, 0, 0, .75);
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .container {
        position: relative;
        text-align: center;
        z-index: 2;
        h1 {
            color: #FFF;
            font-weight: normal;
            font-size: 46px;
            text-transform: uppercase;
            @media(max-width: 578px) {
                font-size: 36px;
            }
        }
        .triggers {
            align-items: flex-start;
            display: flex;
            justify-content: center;
            margin: 50px 0;
            .trigger {
                color: #C3C3C3;
                display: flex;
                flex-direction: column;
                margin: 0 55px;
                .icon {
                    font-size: 50px;
                }
                .text {
                    font-size: 22px;
                }
            }
            @media(max-width: 768px) {
                flex-wrap: wrap;
                margin: 20px 0;
                .trigger {
                    margin: 20px 0;
                    width: 100%;
                }
            }
        }
    }
}

#section-why {
    .block-title {
        margin-bottom: 50px;
    }
    .block-shop-item {
        .image {
            margin-right: 40px;
            width: 400px;
            @media(max-width: 768px) {
                box-sizing: border-box;
                margin-bottom: 30px;
                margin-right: 0;
                width: 100%;
            }
        }
        .info {
            flex-grow: 1;
            .item {
                align-items: flex-start;
                display: flex;
                margin-top: 20px;
                &:first-child {
                    margin: 0;
                }
                .icon {
                    color: #FAC002;
                    font-size: 50px;
                    margin-right: 10px;
                    width: 70px;
                }
                .description {
                    .title {
                        font-size: 24px;
                        text-transform: uppercase;
                    }
                }
                /*
                <div class="icon"><i class="fa fa-bookmark"></i></div>
                        <div class="description">
                            <div class="title">Качество</div>
                            <div class="text">Яркий металлический блеск проволоки </div>
                        </div>
                        */
            }
        }
    }
}

#section-params {
    background-color: transparent;
    background-image: linear-gradient(330deg, #fab702 0%, #ea1b1b 100%);
    box-sizing: border-box;
    padding: 50px 0;
    .items {
        display: flex;
        @media(max-width: 768px) {
            flex-wrap: wrap;
        }
        >* {
            width: 25%;
            .value,
            .text {
                color: #FFF;
                text-align: center;
            }
            .value {
                font-size: 38px;
                font-weight: bold;
            }
            .text {
                padding: 0 20px;
            }
            @media(max-width: 768px) {
                margin-bottom: 30px;
                width: 50%;
            }
            @media(max-width: 580px) {
                width: 100%;
            }
        }
    }
}

#section-map {
    height: 500px;
}

#section-shop {
    .block-shop-item {
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
        .image {
            margin-right: 40px;
            width: 400px;
            @media(max-width: 768px) {
                box-sizing: border-box;
                margin-bottom: 30px;
                margin-right: 0;
                width: 100%;
            }
        }
        .info {
            flex-grow: 1;
            width: auto;
            .params {
                font-size: 18px;
                text-transform: uppercase;
            }
            .name {
                font-size: 28px;
                text-transform: uppercase;
            }
            .count,
            .point {
                align-items: center;
                display: flex;
                margin: 10px 0;
                .fa {
                    color: #FAC002;
                    margin-right: 10px;
                }
            }
            .more {
                border: 1px solid #333;
                color: #333;
                display: inline-block;
                margin-top: 30px;
                padding: 10px 20px
            }
        }
        &:nth-child(odd) {
            .image {
                margin-left: 40px;
                margin-right: 0;
                order: 1;
            }
            .info {
                order: 0;
            }
            @media(max-width: 768px) {
                .image {
                    order: 0;
                    margin-left: 0;
                }
                .info {
                    order: 1;
                }
            }
        }
    }
}

#section-delivery,
#section-about {
    margin: 50px 0;
}

#section-about {
    background: #333;
    color: #FFF;
    padding: 50px 0 70px;
    p {
        text-align: center;
    }
}

#section-footer {
    background: #000;
    color: #9C9AA7;
    padding: 40px 0;
    @media(max-width: 768px) {
        text-align: center;
    }
}

.map-balloon {
    .title {
        font-size: 14px;
    }
    ul {
        list-style: none;
        margin: 10px 0 0;
        padding: 0;
        li {
            .fa {
                display: inline-block;
                margin-right: 10px;
            }
            a {
                color: #EB2919;
            }
        }
    }
}

#modal-window{
    background: rgba(0, 0, 0, .7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    #form-sender{
        left: 50%;
        
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        @media(max-width: 768px) {
            box-sizing: border-box;
            max-height: 600px;
            overflow: auto;
            padding: 15px;
            width: 100%;
        }
    }
}



#form-sender {
    background: #FFF;
    border: 2px solid #F3770C;
    padding: 30px;
    .header{
        align-items: center;
        display: flex;
        .close{
            align-items: center;
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            font-size: 34px;
            font-weight: bold;
            justify-content: center;
            margin-left: auto;
            text-align: center;
            width: 30px;
        }
        .title {
            font-size: 22px;
            margin-right: 20px;
            text-align: center;
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        >* {
            box-sizing: border-box;
        }
        button{
            background: #F3770C;
            border: 2px solid #F3770C;
            color: #FFF;
            cursor: pointer;
            padding: 10px 20px;
            transition: all .15s ease-in;
            &:hover {
                background: #FFF;
                color: #F3770C;
            }
        }
        input {
            border: 1px solid #CCC;
            box-sizing: border-box;
            display: block;
            font-family: 'Open Sans', sans-serif;
            padding: 5px 10px;
            transition: all .15s ease-in;
            width: 100%;
            &:focus,
            &:invalid {
                border-color: #F3770C;
                outline: none;
            }
            &.error {
                border-color: #8b0000;
                color: #8b0000;
            }
            
        }
        .input {
            display: flex;
            margin-top: 20px;
            input {
                box-sizing: border-box;
                border-width: 2px;
                font-size: 20px;
                order: 0;
                padding: 10px 20px;
            }
            button{
                border-left: none;
                flex-grow: 0;
                flex-shrink: 0;
                order: 1;
                + input{
                    border-right: none;
                    flex-grow: 1;
                    flex-shrink: 0;
                    width: 1px;
                }
            }
        }
        
        button[type="submit"] {
            display: block;
            font-size: 20px;
            margin-bottom: 20px;
            
        }
        table{
            border-collapse: collapse;
            font-size: 14px;
            margin-top: 20px;
            width: 100%;
            thead{
                th{
                    border-bottom: 2px solid #F3770C;
                    border-top: 2px solid #F3770C;
                    
                    padding: 10px 5px;
                }
            }
            tbody{
                td{
                    border-top: 1px solid #F3770C;
                    padding: 5px;
                    text-align: center;
                    input{
                        text-align: center;
                        width: 60px;
                    }
                    &:first-child{
                        font-weight: 600;
                        text-align: left;
                    }
                    &.pt{
                        font-size: 12px;
                    }
                    &.price{
                        padding: 15px;
                    }
                }
                tr{
                    &:first-child{
                        td{
                            border-top: none;
                        }
                    }
                }
            }
        }
        .summary{
            align-items: center;
            border-top: 1px solid #CCC;
            display: flex;
            font-size: 16px;
            margin: 10px 0 20px;
            padding-top: 10px;
            .label{
                margin-right: 10px;
            }
            .value{
                flex-grow: 0; 
                flex-shrink: 0;
                font-weight: bold;
                margin-left: auto;
            }
        }
    }
}