@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic");
html,
body {
  color: #3A3A3A;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

body.loading {
  position: relative;
}

body.loading:before {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

body.loading:after {
  background: #000 url("../image/loading.svg") center center no-repeat;
  background-size: 87% auto;
  border: 2px solid #444;
  border-radius: 10px;
  content: "";
  display: block;
  height: 56px;
  left: 50%;
  position: fixed;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  width: 56px;
  z-index: 10;
}

body.open-modal {
  overflow: hidden;
}

body.open-modal #modal-window {
  display: block;
}

a {
  color: #3a3a3a;
  text-decoration: none;
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}

a:hover {
  color: #FABF00;
}

p {
  line-height: 1.5em;
}

.block-shop-item .image img, #section-header .container .logotype img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: bottom;
  width: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
  }
}

.block-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-social ul li {
  margin-left: 20px;
}

.block-social ul li:first-child {
  margin-left: 0;
}

.block-social ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #3A3A3A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 20px;
}

.block-social ul li a:hover {
  background: #3A3A3A;
  color: #FFF;
}

.block-pricelist {
  background-color: transparent;
  background-image: linear-gradient(330deg, #fab702 0%, #ea1b1b 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0;
}

.block-pricelist .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.block-pricelist .container .title {
  font-size: 24px;
  margin-right: 40px;
  text-transform: uppercase;
}

.block-pricelist .container a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFF;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.block-pricelist .container a .fa {
  margin-right: 10px;
}

.block-pricelist .container a:hover {
  background: #FFF;
  color: #3A3A3A;
}

@media (max-width: 768px) {
  .block-pricelist .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-pricelist .container .title {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.block-shop-item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop-item .image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
}

@media (max-width: 768px) {
  .block-shop-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-shop-item > * {
    width: 100%;
  }
}

#section-manufacter .block-shop-item {
  margin: 50px 0;
}

@media (max-width: 768px) {
  #section-manufacter .block-shop-item .image {
    width: 100%;
  }
}

#section-manufacter .block-shop-item .info {
  padding-right: 50px;
}

@media (max-width: 768px) {
  #section-manufacter .block-shop-item .info {
    margin-bottom: 20px;
    padding-right: 0;
  }
}

#section-manufacter .block-shop-item .info h3 {
  font-size: 28px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#section-manufacter .block-shop-item .info .subtitle {
  margin: 10px 0 0;
  text-transform: uppercase;
}

#section-manufacter .block-shop-item .info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-manufacter .block-shop-item .info ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  position: relative;
}

#section-manufacter .block-shop-item .info ul li .fa {
  color: #FAC002;
  margin-bottom: 0;
  margin-right: 10px;
}

.block-container {
  padding: 100px 0;
}

@media (max-width: 768px) {
  .block-container {
    padding: 50px 0;
  }
}

.block-container .block-title {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.block-container .block-title:after, .block-container .block-title:before {
  bottom: 0;
  background: #C4C4C4;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120px;
}

.block-container .block-title:before {
  bottom: 5px;
  width: 200px;
}

.block-container h3.block-title {
  font-size: 28px;
}

.block-container h2.block-title {
  font-size: 38px;
}

.block-container .block-table-pricelist {
  margin: 50px 0 0;
}

.block-container .block-table-pricelist table {
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #EEE;
  border-top: 1px solid #EEE;
  width: 100%;
}

.block-container .block-table-pricelist table tr td,
.block-container .block-table-pricelist table tr th {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  padding: 10px;
}

.block-container .block-table-pricelist table tr td.select,
.block-container .block-table-pricelist table tr th.select {
  background: #F5820B;
  font-weight: bold;
}

.block-container .block-table-pricelist table tbody tr td {
  text-align: center;
}

.block-container .block-table-pricelist table tbody tr td:first-child {
  text-align: left;
}

@media (max-width: 578px) {
  .block-container .block-table-pricelist table {
    display: block;
  }
  .block-container .block-table-pricelist table thead,
  .block-container .block-table-pricelist table tbody {
    display: block;
  }
  .block-container .block-table-pricelist table thead tr,
  .block-container .block-table-pricelist table tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block-container .block-table-pricelist table thead tr td,
  .block-container .block-table-pricelist table thead tr th,
  .block-container .block-table-pricelist table tbody tr td,
  .block-container .block-table-pricelist table tbody tr th {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
  }
  .block-container .block-table-pricelist table thead tr td:first-child,
  .block-container .block-table-pricelist table thead tr th:first-child,
  .block-container .block-table-pricelist table tbody tr td:first-child,
  .block-container .block-table-pricelist table tbody tr th:first-child {
    background: #EFEFEF;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  .block-container .block-table-pricelist table thead tr td[colspan="2"],
  .block-container .block-table-pricelist table thead tr th[colspan="2"],
  .block-container .block-table-pricelist table tbody tr td[colspan="2"],
  .block-container .block-table-pricelist table tbody tr th[colspan="2"] {
    width: 100%;
  }
}

#section-header {
  padding: 20px 0;
}

@media (max-width: 960px) {
  #section-header {
    padding-bottom: 0;
  }
}

#section-header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#section-header .container .logotype {
  margin-right: auto;
}

#section-header .container .navigation {
  margin-left: 40px;
  margin-right: 40px;
}

#section-header .container .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-header .container .navigation ul li {
  margin-left: 40px;
}

#section-header .container .navigation ul li:first-child {
  margin-left: 0;
}

#section-header .container .navigation ul li a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  #section-header .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #section-header .container .navigation {
    background: #EFEFEF;
    margin: 10px -20px 0;
    padding: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  #section-header .container .navigation ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section-header .container .logotype {
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 578px) {
  #section-header .container .block-social {
    margin: 10px auto;
    width: 100%;
  }
  #section-header .container .block-social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#section-jumbotron {
  background: url("../image/background.jpg") center center no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  min-height: 300px;
  padding: 100px 0;
  position: relative;
}

@media (max-width: 768px) {
  #section-jumbotron {
    padding: 50px 0;
  }
}

#section-jumbotron:before {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#section-jumbotron .container {
  position: relative;
  text-align: center;
  z-index: 2;
}

#section-jumbotron .container h1 {
  color: #FFF;
  font-weight: normal;
  font-size: 46px;
  text-transform: uppercase;
}

@media (max-width: 578px) {
  #section-jumbotron .container h1 {
    font-size: 36px;
  }
}

#section-jumbotron .container .triggers {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

#section-jumbotron .container .triggers .trigger {
  color: #C3C3C3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 55px;
}

#section-jumbotron .container .triggers .trigger .icon {
  font-size: 50px;
}

#section-jumbotron .container .triggers .trigger .text {
  font-size: 22px;
}

@media (max-width: 768px) {
  #section-jumbotron .container .triggers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 0;
  }
  #section-jumbotron .container .triggers .trigger {
    margin: 20px 0;
    width: 100%;
  }
}

#section-why .block-title {
  margin-bottom: 50px;
}

#section-why .block-shop-item .image {
  margin-right: 40px;
  width: 400px;
}

@media (max-width: 768px) {
  #section-why .block-shop-item .image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }
}

#section-why .block-shop-item .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#section-why .block-shop-item .info .item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  /*
                <div class="icon"><i class="fa fa-bookmark"></i></div>
                        <div class="description">
                            <div class="title">Качество</div>
                            <div class="text">Яркий металлический блеск проволоки </div>
                        </div>
                        */
}

#section-why .block-shop-item .info .item:first-child {
  margin: 0;
}

#section-why .block-shop-item .info .item .icon {
  color: #FAC002;
  font-size: 50px;
  margin-right: 10px;
  width: 70px;
}

#section-why .block-shop-item .info .item .description .title {
  font-size: 24px;
  text-transform: uppercase;
}

#section-params {
  background-color: transparent;
  background-image: linear-gradient(330deg, #fab702 0%, #ea1b1b 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0;
}

#section-params .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #section-params .items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#section-params .items > * {
  width: 25%;
}

#section-params .items > * .value,
#section-params .items > * .text {
  color: #FFF;
  text-align: center;
}

#section-params .items > * .value {
  font-size: 38px;
  font-weight: bold;
}

#section-params .items > * .text {
  padding: 0 20px;
}

@media (max-width: 768px) {
  #section-params .items > * {
    margin-bottom: 30px;
    width: 50%;
  }
}

@media (max-width: 580px) {
  #section-params .items > * {
    width: 100%;
  }
}

#section-map {
  height: 500px;
}

#section-shop .block-shop-item {
  margin-top: 50px;
}

#section-shop .block-shop-item:first-child {
  margin-top: 0;
}

#section-shop .block-shop-item .image {
  margin-right: 40px;
  width: 400px;
}

@media (max-width: 768px) {
  #section-shop .block-shop-item .image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }
}

#section-shop .block-shop-item .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
}

#section-shop .block-shop-item .info .params {
  font-size: 18px;
  text-transform: uppercase;
}

#section-shop .block-shop-item .info .name {
  font-size: 28px;
  text-transform: uppercase;
}

#section-shop .block-shop-item .info .count,
#section-shop .block-shop-item .info .point {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#section-shop .block-shop-item .info .count .fa,
#section-shop .block-shop-item .info .point .fa {
  color: #FAC002;
  margin-right: 10px;
}

#section-shop .block-shop-item .info .more {
  border: 1px solid #333;
  color: #333;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
}

#section-shop .block-shop-item:nth-child(odd) .image {
  margin-left: 40px;
  margin-right: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#section-shop .block-shop-item:nth-child(odd) .info {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media (max-width: 768px) {
  #section-shop .block-shop-item:nth-child(odd) .image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
  }
  #section-shop .block-shop-item:nth-child(odd) .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#section-delivery,
#section-about {
  margin: 50px 0;
}

#section-about {
  background: #333;
  color: #FFF;
  padding: 50px 0 70px;
}

#section-about p {
  text-align: center;
}

#section-footer {
  background: #000;
  color: #9C9AA7;
  padding: 40px 0;
}

@media (max-width: 768px) {
  #section-footer {
    text-align: center;
  }
}

.map-balloon .title {
  font-size: 14px;
}

.map-balloon ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.map-balloon ul li .fa {
  display: inline-block;
  margin-right: 10px;
}

.map-balloon ul li a {
  color: #EB2919;
}

#modal-window {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

#modal-window #form-sender {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  #modal-window #form-sender {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: 600px;
    overflow: auto;
    padding: 15px;
    width: 100%;
  }
}

#form-sender {
  background: #FFF;
  border: 2px solid #F3770C;
  padding: 30px;
}

#form-sender .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form-sender .header .close {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 34px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  text-align: center;
  width: 30px;
}

#form-sender .header .title {
  font-size: 22px;
  margin-right: 20px;
  text-align: center;
}

#form-sender form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form-sender form > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#form-sender form button {
  background: #F3770C;
  border: 2px solid #F3770C;
  color: #FFF;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

#form-sender form button:hover {
  background: #FFF;
  color: #F3770C;
}

#form-sender form input {
  border: 1px solid #CCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  width: 100%;
}

#form-sender form input:focus, #form-sender form input:invalid {
  border-color: #F3770C;
  outline: none;
}

#form-sender form input.error {
  border-color: #8b0000;
  color: #8b0000;
}

#form-sender form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#form-sender form .input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 2px;
  font-size: 20px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding: 10px 20px;
}

#form-sender form .input button {
  border-left: none;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#form-sender form .input button + input {
  border-right: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1px;
}

#form-sender form button[type="submit"] {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

#form-sender form table {
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
}

#form-sender form table thead th {
  border-bottom: 2px solid #F3770C;
  border-top: 2px solid #F3770C;
  padding: 10px 5px;
}

#form-sender form table tbody td {
  border-top: 1px solid #F3770C;
  padding: 5px;
  text-align: center;
}

#form-sender form table tbody td input {
  text-align: center;
  width: 60px;
}

#form-sender form table tbody td:first-child {
  font-weight: 600;
  text-align: left;
}

#form-sender form table tbody td.pt {
  font-size: 12px;
}

#form-sender form table tbody td.price {
  padding: 15px;
}

#form-sender form table tbody tr:first-child td {
  border-top: none;
}

#form-sender form .summary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #CCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin: 10px 0 20px;
  padding-top: 10px;
}

#form-sender form .summary .label {
  margin-right: 10px;
}

#form-sender form .summary .value {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: bold;
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */